<%- include("../layouts/head",{type:'message'}) %>
	<h1 style="text-align: center;">
		Message List
	</h1>
	<div class="container">
		<ul class="posts">
			<% list.forEach (function(res) { %>
				<li>
					<a href="/message-details/<%= res.message_id %>">
						<div class="title">
							<%
								switch (res.message_type) {
									case 0 :
										var type = "Invite Open Channel";
										break;
									case 1 :
										var type = "On-chain Tx";
										break;
									case 2 :
										var type = "Channel Tx";
										break;
									default:
										var type = "异常";
								}
							%>
							<%= type %>
							<span style="height: 26px;background: <%= res.message_is_read==1?"#5FB878":"red" %>;width: 26px;border-radius: 50%;"></span>
						</div>
						<span>From：<%= res.message_from_user_name %></span>
						<span>Time：<%= res.message_add_time %></span>
					</a>
				</li>
			<% }) %>
		</ul>
		<div style="margin-top: 30px" class="pagination" id="page"></div>
	</div>
	<script src="/js/pagination.js"></script>
	<script>
		pagination({
			selector: '#page',
			totalPage: <%= countPage %>,
			currentPage: 1,
			prev: 'Previous',
			next: 'Next',
			first: true,
			last: true,
			showTotalPage: true,
			count: 2//当前页前后显示的数量
		}, function(val) {
			$.ajax({
				url : "message-list",
				type : 'POST',
				data : {
					page : val
				},
				cache : false,
				success: function (data) {
					if (data != 'error') {
						$('.posts').html(' ')
						$.each(data,function(i,val){
							var type,
								status;
							status = '<span style="height: 26px;background: '
							status += val.message_is_read==1?"#5FB878":"red"
							status += ';width: 26px;border-radius: 50%;"></span>';
							switch (val.message_type) {
								case 0:
									type = "Invite Open Channel";
									break;
								case 1:
									type = "On-chain Tx";
									break;
								case 2:
									type = "Channel Tx";
									break;
								default:
									type = "异常";
							}
							$('.posts').append(
								'<li>'+
									'<a href="/message-details/'+ val.message_id +'">'+
										'<div class="title">'+
											type + status +
										'</div>'+
										'<span>From：'+ val.message_from_user_name +'</span>'+
										'<span>Time：'+ val.message_add_time +'</span>'+
									'</a>'+
								'</li>'
							)
						})
					} else {
						fend('分页不存在')
					}
				}
			})
		})
	</script>
<% include ../layouts/foot %>
