<%- include("../layouts/head",{type:'channel'}) %>
	<h1 style="text-align: center;">Invite to Open Channel</h1>
	<div class="container">
		<form class="form create" method="post ">
			<div>
				<label>Channel Name：<%= channelData.channel_name %></label>
			</div>
			<div>
				<label>Amount：</label>
                <input placeholder="Input Amount" type="text" value="0" min="0" max="9999" name="amount" />
            </div>
            <div>
				<label>Counterpart amount：<%= channelData.channel_sponsor_deposit %></label>
			</div>
			<div>
				<label>Counterpart Name ：<%= toUserData.user_name %></label>
			</div>
			<input type="hidden" name="type" value="0" />
			<div class="submit">接收</div>
			<div class="refuse">拒绝</div>
		</form>
	</div>
	<script>
		$('.refuse').click(()=>{
			console.log(123)
			$('input[name=type]').val(1)
			$('.submit').click()
			return false;
		})
		$(window).keyup(function(e) {
			if (e.keyCode == 13) {
				$('.submit').click()
			}
		})
		$('.submit').click(()=>{
			if ($('input[name=type]').val()==0) {
				if ($('input[name=amount]').val().trim() == '' || $('input[name=amount]').val()<1) {
					fade('Input a positive amount')
					return false;
				}
			}
			$.ajax({
				url: "/channel-invite-create/<%= channelData.channel_id %>",
				data: $('.form').serialize(),
				type: "POST",
				cache: false,
				dataType: 'json',
				success: function (data) {
					if(data.code==200) {
						fade('Successful')
						setTimeout(function() {
							window.location.href = "/channel-details/<%= channelData.channel_id %>"
						}, 1000)
					} else {
						fade(data.message)
					}
				},
				error: function () {
					fade('异常')
				}
			})
		})
	</script>
<% include ../layouts/foot %>
